@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

:root {
  --color-blue: #0065FC;
  --color-light-blue: #DEEBFF;
  --color-grey: #F2F2F2;
}

body {
  font-family: Raleway, sans-serif;
  margin-top: 0;
}

h1, h2 {
  margin: 6px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

h2 {
  margin: 0 0 .8em 0;
}

h3 {
  font-size: .9em;
  margin: .4em 0;
}

img {
  object-fit: cover;
}

i {
  color: var(--color-blue);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

p {
  font-size: .8em;
}

/* Nav elements*/

.Nav img {
  width: 100px;
}

.Nav {
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

.Nav__list {
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0;
  padding: 0;
}
.Nav__list-item {
  height: 100%;
}

.Nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 18px;
}

.Nav__link:focus {
  color: var(--color-blue);
  border-top: 1px solid var(--color-blue);
}

.Nav__login, .Nav__login:visited {
  color: var(--color-blue);
  font-weight: bold;
}

/* Search form */

.Form {
  display: inline-flex;
  align-items: center;
  width: 285px;
  height: 33px;
  border: 1px solid var(--color-grey);
  border-radius: 12px;
  overflow: hidden;
  margin: 12px 0;
}

.Form__icon {
  height: auto;
  padding: 12px;
  background-color: var(--color-grey);
  color: black;
}

.Form__text {
  border: none;
  padding-left: 9px;
  font-family: inherit;
  font-weight: bold;
}

.Form__button {
  width: auto;
  height: 100%;
  border: none;
  background-color: var(--color-blue);
  color: #fff;
  padding: 0 12px;
}

/* Filter */

.Filter {
  align-items: center;
  padding-left: 6px;
  margin: 6px 0;
}

.Filter__item {
  margin-left: 9px;
  border: 2px solid var(--color-grey);
  border-radius: 50px;
  overflow: hidden;
  font-family: inherit;
  font-weight: bold;
  padding-right: 10px;
}

.Filter__icon {
  background-color: var(--color-light-blue);
  padding: 12px;
  border-radius: 30px;
  margin-right: 10px;
}

/* info */

.info-container {
  margin: 6px 6px;
}

.info-icon {
  margin-right: 12px;
  border: 2px solid var(--color-grey);
  padding: 7px 12px;
  border-radius: 50px;
}

/* Hébergement */

/* Cards */
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.card {
  overflow: hidden;
  width: 220px;
  padding: 6px;
  height: 150px;
  background-color: #fff;
  border-radius: 30px;
  padding: 3px;
}

.card img {
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.card-content {
  padding: 0 12px 12px 12px;
}

.card-stars {
  font-size: 0.8rem;
}

/* Side cards */
.side-header {
  align-items: baseline;
  justify-content: space-between;
}

.side-header i {
  font-size: 1.3em;
  color: black;
}

.side-card-container {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 2em;
}

.side-card {
  width: 300px;
  height: 110px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  padding: 3px;
}

.side-card-content {
  height: 100%;
  align-items: start;
  justify-content: space-between;
  margin: 0 12px;
  box-sizing: border-box;
}

.side-card a {
  height: 100%;
}

.side-card-content p {
  margin: 0;
}

.side-card img{
  width: 37%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 12px 0 0 12px;
}

.star-container {
  font-size: .7em;
  padding-bottom: 9px;
}

/* Global class */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.background {
  background-color: var(--color-grey);
  padding: 2em;
  border-radius: 21px;
  margin-right: 1.5rem;
}

.black-color {
  color: black;
}

.grey-color {
  color: var(--color-grey);
}